.places {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;
  box-sizing: border-box;
  margin: 0;
}

@media screen and (min-width: 640px) {
  .places {
    gap: 73px;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    gap: 80px;
    padding: 0 48px;
  }
}

@media screen and (min-width: 1080px) {
  .places {
    max-width: 984px;
    padding: 0;
  }
}
