.footer__copyright {
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  white-space: nowrap;
  color: white;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    line-height: 1.14;
  }
}
