.photo-grid__board {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
  gap: 12px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .photo-grid__board {
    gap: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid__board {
    gap: clamp(14px, 1.3vw, 16px);
  }
}
