.lead__subtitle {
  max-width: clamp(288px, 86.6vw, 640px);
  font-weight: normal;
  font-size: clamp(16px, 3.9vw, 30px);
  line-height: 1.25;
  text-align: center;
  color: white;
  box-sizing: border-box;
  padding-bottom: 40px;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__subtitle {
    padding-bottom: 64px;
  }
}
