
.cover {
  max-width: 1280px;
  width: 100%;
  aspect-ratio: 8/5;
  overflow: hidden;
  padding: 0 48px;
  box-sizing: border-box;
}

.cover__link {
  height: 100%;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.cover__link::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #2A2C2F;
  opacity: .3;
  transition: opacity .3s ease-in-out;
  z-index: -1;
}

.cover__link:hover::before {
  opacity: .8;
}

.cover__title {
  max-width: min-content;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;
  color: white;
  margin: 0;
}

.cover__subtitle {
  max-width: 360px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: white;
  box-sizing: border-box;
  margin: 0;
}

.cover__background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2;
}

@media screen and (max-width: 1080px) {
  .cover {
    max-width: none;
    padding: 0;
  }
}

/* -------------------------- */
@media screen and (max-width: 768px) {
  .cover__title {
    font-size: clamp(32px, 9.68vw, 72px);
    line-height: 1.09;
  }
}


/* -------------------------- */
@media screen and (max-width: 768px) {
  .cover__subtitle {
    font-size: clamp(14px, 3.36vw, 18px);
    line-height: 1.14;
  }
}
