
.cover {
  width: 100%;
  aspect-ratio: 8/5;
  overflow: hidden;
}
.cover__link {
  height: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.cover__link::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #2A2C2F;
  opacity: .3;
  transition: opacity .5s ease-in-out;
  z-index: -1;
}
.cover__link:hover::before {
  opacity: .8;
}

.cover__title {

}

.cover__subtitle {

}

.cover__overlay {

}
.cover__background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -2;
}
