
.lead {
  max-width: 984px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 0 0;
  box-sizing: border-box;
}

.lead__title {
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: white;
  padding-bottom: 32px;
  margin: 0;
}

.lead__subtitle {
  max-width: 640px;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: white;
  padding-bottom: 64px;
  box-sizing: border-box;
  margin: 0;
}

.lead__figure {
  line-height: 0;
  margin: 0;
}

.lead__image {
  object-fit: cover;
  width: 100%;

}
.lead__caption {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  color: white;
  text-transform: uppercase;
  box-sizing: border-box;
  padding-top: 8px;
  margin: 0;
}

/* -------------------------------------- */
@media screen and (max-width: 1080px) {
  .lead {
    max-width: none;
    padding: 56px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 56px 0 0;
  }
}


/* -------------------------------------- */
@media screen and (max-width: 768px) {
  .lead__title {
    font-size: clamp(40px, 12.5vw, 96px);
    line-height: 1.04;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    line-height: 1.1;
  }
}



/* -------------------------------------- */

@media screen and (max-width: 768px) {
  .lead__subtitle {
    font-size: clamp(16px, 3.9vw, 30px);
    line-height: 1.2;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    line-height: 1.25;
  }
}

/* ------------------------------------------ */
@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}
