
.photo-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 16px;
}
.photo-grid__item {
  line-height: 0;
}

.photo-grid__image {
  object-fit: cover;
  width: 100%;
}
