.place {
  display: grid;
  grid-template-columns: .96fr 1fr;
  grid-template-areas:
    "title title"
    "link link"
    "image image"
    "text text";
  gap: 32px 0;
}

@media screen and (min-width: 640px) {
  .place {
    grid-template-areas:
      "title link"
      "image text";
    gap: 48px 28px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    gap: 48px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    gap: 48px 40px;
  }
}
